{% extends "blog/layout.html" %}

{% block content %}
    <form action="" method="get">
        <input type="text" name="query" value="{{ query }}" />
        <input type="submit" value="검색" />
    </form>

    <ul>
        {% for post in post_list %}
        <li>
            {{ post.pk }}
            <a href="/blog/{{ post.pk }}/">
                {{ post.title }}
            </a>
            <small>({{ post.created_at|timesince }} ago)</small>
        </li>
        {% endfor %}
    </ul>

    <hr/>

    {% for current_date in date_list %}
        {% ifchanged %}
            <h3>{{ current_date|date:"M" }}</h3>
        {% endifchanged %}
        {{ current_date }}<br/>
    {% endfor %}

{% endblock %}

