{% extends "blog/layout.html" %}

{% block content %}
    <h1>{{ post.title }} <small>by {{ post.user }}</small></h1>

    {% if post.photo %}
        <img src="{{ post.photo.url }}" />
    {% endif %}

    {{ post.content|linebreaks }}
    <hr/>
    <a href="{% url "blog:post_list" %}" class="btn btn-primary">목록으로</a>
    <a href="{% url "blog:post_edit" post.pk %}" class="btn btn-primary">수정하기</a>
    <a href="{% url "blog:post_delete" post.pk %}" class="btn btn-danger">삭제하기</a>
{% endblock %}
