{% extends "blog/layout.html" %}

{% block content %}
    <div class="pull-right">
        <form action="" method="get">
            <input type="text" name="query" value="{{ query }}" />
            <input type="submit" value="검색" />
        </form>
    </div>

    <a href="{% url "blog:post_new" %}" class="btn btn-primary">New Post</a>

    <table class="table table-hover table-bordered">
        {% for post in post_list %}
        <tr>
            <td>
                <a href="{% url "blog:post_detail" post.pk %}">
                    {{ post.title }}
                </a>
            </td>
            <td>
                <small>({{ post.created_at|timesince }} ago)</small>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}

